@tailwind components;

@tailwind utilities;

/* purgecss start ignore */
*, *::before, *::after {
  box-sizing: border-box;
  border: 0 solid theme('colors.gray.200');
}

body {
  @apply text-gray-800 m-0 font-sans;
  line-height: 1.5;
}

a {
  color: inherit;
  @apply no-underline;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 1em;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 1.5em 0 .67em;
}

h3 {
  font-size: 1rem;
  margin: 1.25em 0 .67em;
}

nav ul {
  @apply m-0 p-0 list-none;
}

code {
  @apply bg-gray-100 text-purple-400 rounded-sm text-base;
  padding: 2px 4px;
}

pre {
  @apply mb-4 rounded-sm text-base;
}

table {
  border-collapse: collapse;
}

th {
  @apply bg-gray-100 px-4 py-1;
}

td {
  @apply border-t px-8 py-1;
}

input,
textarea {
  border-width: 1px;
}

main a {
  @apply text-indigo-500;
}

main a:hover {
  @apply underline;
}
/* purgecss end ignore */
